{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!--<a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}guides/example-guide/" role="button">{{ i18n "get_started" }}</a> -->
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <h2 class="h2 text-center">Roadmaps</h2>
      <div class="row">
        <div class="card-deck col-lg-5">
          <div class="card">
            <div class="card-header text-center"><b>Big Data & Databases</b></div>
            <div class="card-body">
              <ul>
                <li><a href="./roadmaps/big-data-and-databases/data-engineer">Data Engineer</a></li>
                <li><a href="./roadmaps/big-data-and-databases/database-administrator">Database Administrator</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-deck col-lg-5">
          <div class="card">
            <div class="card-header text-center"><b>Cloud & IT Infrastructure</b></div>
            <div class="card-body">
              <ul>
                <li><a href="./roadmaps/cloud-it-infrastructure/system-administrator">System Administrator</a></li>
                <li><a href="./roadmaps/cloud-it-infrastructure/network-engineer">Network Engineer</a></li>
                <li><a href="./roadmaps/cloud-it-infrastructure/it-support-specialist">IT Support Specialist</a></li>
                <li><a href="./roadmaps/cloud-it-infrastructure/infrastructure-engineer">Infrastructure Engineer</a></li>
                <li><a href="./roadmaps/cloud-it-infrastructure/cloud-architect">Cloud Architect</a></li>
                <li><a href="./roadmaps/cloud-it-infrastructure/devops-engineer">DevOps Engineer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-deck col-lg-5">
          <div class="card">
            <div class="card-header text-center"><b>Cybersecurity</b></div>
            <div class="card-body">
              <ul>
                <li><a href="./roadmaps/cybersecurity/cybersecurity-analyst">Cybersecurity Analyst</a></li>
                <li><a href="./roadmaps/cybersecurity/security-engineer">Security Engineer</a></li>
                <li><a href="./roadmaps/cybersecurity/penetration-tester">Penetration Tester</a></li>
                <li><a href="./roadmaps/cybersecurity/ciso">Chief Information Security Officer</a></li>
                <li><a href="./roadmaps/cybersecurity/network-security-engineer">Network Security Engineer</a></li>
                <li><a href="./roadmaps/cybersecurity/security-architect">Security Architect</a></li>
                <li><a href="./roadmaps/cybersecurity/incident-responder">Incident Responder</a></li>
                <li><a href="./roadmaps/cybersecurity/malware-analyst">Malware Analyst</a></li>
                <li><a href="./roadmaps/cybersecurity/cryptographer">Cryptographer</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-deck col-lg-5">
          <div class="card">
            <div class="card-header text-center"><b>Data Science & Analytics</b></div>
            <div class="card-body">
              <ul>
                <li><a href="./roadmaps/data-science-analytics/data-scientist">Data Scientist</a></li>
                <li><a href="./roadmaps/data-science-analytics/data-analyst">Data Analyst</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-deck col-lg-5">
          <div class="card">
            <div class="card-header text-center"><b>Development</b></div>
            <div class="card-body">
              <ul>
                <li><a href="./roadmaps/development/frontend-web-dev">Frontend Web Developer</a></li>
                <li><a href="./roadmaps/development/backend-web-dev">Backend Web Developer</a></li>
                <li><a href="./roadmaps/development/fullstack-web-dev">Fullstack Web Developer</a></li>
                <li><a href="./roadmaps/development/software-engineer">Software Engineer</a></li>
                <li><a href="./roadmaps/development/qa-engineer">QA Engineer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
